version: "3.8"

services:
    setup:
        build:
            context: setup
            dockerfile: Dockerfile
        container_name: setup
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
        healthcheck:
            test: ["CMD-SHELL", "[ -f config/certs/ca.crt ]"]
            interval: 10s
            timeout: 5s
            retries: 20
        env_file:
            - .env

    elasticsearch:
        depends_on:
            setup:
                condition: service_healthy
        image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
        container_name: elasticsearch
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
            - esdata:/usr/share/elasticsearch/data
        environment:
            - node.name=es00
            - network.host=0.0.0.0
            - cluster.name=${CLUSTER_NAME}
            - cluster.initial_master_nodes=es00
            - discovery.seed_hosts=es00
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true # prevent OOM
            - xpack.security.enabled=true # enable security
            - xpack.security.http.ssl.enabled=true # enable HTTP SSL
            - xpack.security.http.ssl.key=certs/es00.key # path to the key
            - xpack.security.http.ssl.certificate=certs/es00.crt # path to the certificate
            - xpack.security.http.ssl.certificate_authorities=certs/ca.crt # path to the CA
            - xpack.security.transport.ssl.enabled=true # enable transport SSL
            - xpack.security.transport.ssl.verification_mode=certificate # set verification mode
            - xpack.security.transport.ssl.key=certs/es00.key # path to the key
            - xpack.security.transport.ssl.certificate=certs/es00.crt # path to the certificate
            - xpack.security.transport.ssl.certificate_authorities=certs/ca.crt # path to the CA
        ports:
            - ${ES_PORT}:9200
        mem_limit: ${MEM_LIMIT}
        networks:
            - elk
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "curl -s --cacert config/certs/ca.crt https://0.0.0.0:9200 | grep -q 'missing authentication credentials'",
                ]
            interval: 10s
            timeout: 10s
            retries: 20

    logstash:
        depends_on:
            elasticsearch:
                condition: service_healthy
            kibana:
                condition: service_healthy
        image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
        container_name: logstash
        ports:
            - ${LOGSTASH_PORT}:5044
        volumes:
            - logstashdata:/usr/share/logstash/data
            - certs:/usr/share/logstash/config/certs
            - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
        environment:
            - NODE_NAME=logstash
            - xpack.monitoring.enabled=false
            - ELASTIC_USER=${ELASTIC_USERNAME}
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - ELASTIC_HOSTS=https://elasticsearch:9200
        command: logstash -f /usr/share/logstash/pipeline/logstash.conf
        networks:
            - elk

    kibana:
        depends_on:
            elasticsearch:
                condition: service_healthy
        image: docker.elastic.co/kibana/kibana:8.13.2
        container_name: kibana
        ports:
            - ${KIBANA_PORT}:5601
        environment:
            - SERVER_NAME=kib00
            - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
            - ELASTICSEARCH_USERNAME=${KIBANA_USERNAME}
            - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
            - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca.crt
        mem_limit: ${MEM_LIMIT}
        volumes:
            - certs:/usr/share/kibana/config/certs
            - kibdata:/usr/share/kibana/data
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
                ]
            interval: 10s
            timeout: 10s
            retries: 20
        networks:
            - elk

networks:
    elk:
        driver: bridge

volumes:
    certs:
        driver: local
    esdata:
        driver: local
    kibdata:
        driver: local
    logstashdata:
        driver: local
