version: "3.8"

volumes:
    certs:
        driver: local
        driver_opts:
            type: none
            device: ./certs
            o: bind
    elasticsearch-data:
        driver: local

networks:
    elk-network:
        driver: bridge

services:
    setup:
        build:
            context: setup
            dockerfile: Dockerfile
        image: setup:latest
        container_name: setup
        user: root
        restart: always
        networks:
            - elk-network
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
        env_file:
            - .env
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "[ -f config/certs/elasticsearch/elasticsearch.crt ]",
                ]
            interval: 1s
            timeout: 5s
            retries: 120

    elasticsearch:
        depends_on:
            setup:
                condition: service_healthy
        image: docker.elastic.co/elasticsearch/elasticsearch:${ELK_VERSION}
        container_name: elasticsearch
        restart: always
        networks:
            - elk-network
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
            - elasticsearch-data:/usr/share/elasticsearch/data
        env_file:
            - .env
        ports:
            - 9200:9200
        environment:
            - cluster.name=es-cluster
            - network.host=0.0.0.0
            - transport.host=0.0.0.0
            - xpack.license.self_generated.type=trial
            - xpack.security.enabled=true
            - xpack.security.http.ssl.enabled=true
            - xpack.security.http.ssl.verification_mode=certificate
            - xpack.security.http.ssl.key=config/certs/elasticsearch/elasticsearch.key
            - xpack.security.http.ssl.certificate=config/certs/elasticsearch/elasticsearch.crt
            - xpack.security.http.ssl.certificate_authorities=config/certs/ca/ca.crt
            - xpack.security.transport.ssl.enabled=true
            - xpack.security.transport.ssl.verification_mode=certificate
            - xpack.security.transport.ssl.key=config/certs/elasticsearch/elasticsearch.key
            - xpack.security.transport.ssl.certificate=config/certs/elasticsearch/elasticsearch.crt
            - xpack.security.transport.ssl.certificate_authorities=config/certs/ca/ca.crt
            - xpack.ml.use_auto_machine_memory_percent=true
            - bootstrap.memory_lock=true # lock the memory to use the maximum heap size not from disk
            - discovery.type=single-node
            - ES_JAVA_OPTS=-Xms1g -Xmx1g
        mem_limit: 2g
        ulimits:
            memlock:
                soft: -1
                hard: -1
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 \
                    | grep -q 'missing authentication credentials'",
                ]
            interval: 1s
            timeout: 5s
            retries: 120
