version: "3.8"

services:
    setup:
        build:
            context: setup
            dockerfile: Dockerfile
        container_name: setup
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "[ -f config/certs/elasticsearch/elasticsearch.crt ]",
                ]
            interval: 1s
            timeout: 5s
            retries: 120
        env_file:
            - .env

    elasticsearch:
        depends_on:
            setup:
                condition: service_healthy
        image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
        container_name: elasticsearch
        restart: always
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
            - esdata:/usr/share/elasticsearch/data
        environment:
            - cluster.name=${CLUSTER_NAME}
            - discovery.type=single-node
            - cluster.initial_master_nodes=elasticsearch
            - node.name=elasticsearch
            - ELASTIC_PASSWORD=securepassword # !!!!!!! to change !!!!!!!
            - bootstrap.memory_lock=true # prevent OOM
            - xpack.security.enabled=true # enable security
            - xpack.security.http.ssl.enabled=true # enable HTTP SSL
            - xpack.security.http.ssl.key=config/certs/elasticsearch/elasticsearch.key # path to the key
            - xpack.security.http.ssl.certificate=config/certs/elasticsearch/elasticsearch.crt # path to the certificate
            - xpack.security.http.ssl.certificate_authorities=config/certs/ca/ca.crt # path to the CA
            - xpack.security.transport.ssl.enabled=true # enable transport SSL
            - xpack.security.transport.ssl.verification_mode=certificate # set verification mode
            - xpack.security.transport.ssl.key=config/certs/elasticsearch/elasticsearch.key # path to the key
            - xpack.security.transport.ssl.certificate=config/certs/elasticsearch/elasticsearch.crt # path to the certificate
            - xpack.security.transport.ssl.certificate_authorities=config/certs/ca/ca.crt # path to the CA
            - xpack.license.self_generated.type=trial
            - xpack.ml.use_auto_machine_memory_percent=true
        ports:
            - ${ES_PORT}:9200
        mem_limit: ${MEM_LIMIT}
        networks:
            - elk
        ulimits:
            memlock:
                soft: -1
                hard: -1
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 \
                    | grep -q 'missing authentication credentials'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120

    kibana:
        depends_on:
            elasticsearch:
                condition: service_healthy
        image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
        restart: always
        container_name: kibana
        ports:
            - ${KIBANA_PORT}:5601
        environment:
            - SERVER_NAME=kibana
            - SERVER_SSL_ENABLED=true
            - SERVER_SSL_CERTIFICATE=config/certs/kibana/kibana.crt
            - SERVER_SSL_KEY=config/certs/kibana/kibana.key
            - XPACK_REPORTING_ENCRYPTIONKEY=${KIBANA_KEY}
            - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
            - ELASTICSEARCH_USERNAME=${KIBANA_USERNAME}
            - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
            - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
            - ELASTICSEARCH_SSL_VERIFICATIONMODE=certificate
        mem_limit: ${MEM_LIMIT}
        volumes:
            - certs:/usr/share/kibana/config/certs
            - kibdata:/usr/share/kibana/data
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -s -k https://localhost:5601 | \
                    grep -q 'Kibana server is not ready yet' || \
                    curl -s -k https://localhost:5601/login | grep -q 'kibana'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120
            start_period: 30s
        networks:
            - elk

    logstash:
        depends_on:
            setup:
                condition: service_healthy
            elasticsearch:
                condition: service_healthy
            kibana:
                condition: service_healthy
        image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
        container_name: logstash
        restart: always
        user: root
        ports:
            - ${LOGSTASH_PORT}:5044/udp
        volumes:
            - certs:/usr/share/logstash/config/certs
            - ./pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
            - ./logs.log:/usr/share/logstash/logs/access.log
        # user: root
        environment:
            - NODE_NAME=logstash
            - xpack.monitoring.enabled=false
            - ELASTICSEARCH_USERNAME=${ELASTIC_USERNAME}
            - ELASTICSEARCH_PASSWORD=${ELASTIC_PASSWORD}
            - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
            - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca.crt
        command: logstash -f /usr/share/logstash/pipeline/logstash.conf
        env_file:
            - .env
        networks:
            - elk

    nginx:
        build:
            context: nginx
            dockerfile: Dockerfile
        image: my_nginx:latest
        container_name: nginx
        ports:
            - ${NGINX_PORT}:80
        volumes:
            - ./logs.log:/var/log/nginx/access.log
        depends_on:
            elasticsearch:
                condition: service_healthy
            kibana:
                condition: service_healthy
        networks:
            - elk

networks:
    elk:
        driver: bridge

volumes:
    certs:
        driver: local
    esdata:
        driver: local
    kibdata:
        driver: local
    logstashdata:
        driver: local
