version: "3.8"

services:
    setup:
        build:
            context: setup
            dockerfile: Dockerfile
        container_name: setup
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "[ -f config/certs/elasticsearch/elasticsearch.crt ]",
                ]
            interval: 1s
            timeout: 5s
            retries: 120
        env_file:
            - .env

    elasticsearch:
        depends_on:
            setup:
                condition: service_healthy
        image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
        container_name: elasticsearch
        restart: always
        volumes:
            - certs:/usr/share/elasticsearch/config/certs
            - esdata:/usr/share/elasticsearch/data
        environment:
            - node.name=elasticsearch
            - network.host=0.0.0.0
            - cluster.name=${CLUSTER_NAME}
            - cluster.initial_master_nodes=elasticsearch
            - discovery.seed_hosts=elasticsearch
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true # prevent OOM
            - xpack.security.enabled=true # enable security
            - xpack.security.http.ssl.enabled=true # enable HTTP SSL
            - xpack.security.http.ssl.key=certs/elasticsearch.key # path to the key
            - xpack.security.http.ssl.certificate=certs/elasticsearch.crt # path to the certificate
            - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt # path to the CA
            - xpack.security.transport.ssl.enabled=true # enable transport SSL
            - xpack.security.transport.ssl.verification_mode=certificate # set verification mode
            - xpack.security.transport.ssl.key=certs/elasticsearch.key # path to the key
            - xpack.security.transport.ssl.certificate=certs/elasticsearch.crt # path to the certificate
            - xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt # path to the CA
        ports:
            - ${ES_PORT}:9200
        mem_limit: ${MEM_LIMIT}
        networks:
            - elk
        ulimits:
            memlock:
                soft: -1
                hard: -1
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 \
                    | grep -q 'missing authentication credentials'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120
            start_period: 20s

    kibana:
        depends_on:
            elasticsearch:
                condition: service_healthy
            setup:
                condition: service_healthy
        image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
        restart: always
        container_name: kibana
        ports:
            - ${KIBANA_PORT}:5601
        environment:
            - SERVER_NAME=kib00
            - ELASTICSEARCH_HOSTS=https://elasticsearch:9200
            - ELASTICSEARCH_USERNAME=${KIBANA_USERNAME}
            - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
            - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
        mem_limit: ${MEM_LIMIT}
        volumes:
            - certs:/usr/share/kibana/config/certs
            - kibdata:/usr/share/kibana/data
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    "curl -s -I -k https://localhost:5601 | grep -q '200 OK\\|302 Found'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120
            start_period: 30s
        networks:
            - elk

    logstash:
        depends_on:
            setup:
                condition: service_healthy
        image: docker.elastic.co/logstash/logstash:${STACK_VERSION}
        container_name: logstash
        restart: always
        ports:
            - ${LOGSTASH_PORT}:5044/udp
        volumes:
            - certs:/usr/share/logstash/config/certs
            - ./pipeline/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
            - ./logs.log:/usr/share/logstash/logs/access.log
        user: root
        environment:
            - NODE_NAME=logstash
            - xpack.monitoring.enabled=false
            - ELASTIC_USER=${ELASTIC_USERNAME}
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - ELASTIC_HOSTS=https://elasticsearch:9200
        command: logstash -f /usr/share/logstash/pipeline/logstash.conf
        networks:
            - elk

    nginx:
        build:
            context: nginx
            dockerfile: Dockerfile
        image: my_nginx:latest
        container_name: nginx
        ports:
            - ${NGINX_PORT}:80
        volumes:
            - ./logs.log:/var/log/nginx/access.log
        depends_on:
            elasticsearch:
                condition: service_healthy
            kibana:
                condition: service_healthy
        networks:
            - elk

networks:
    elk:
        driver: bridge

volumes:
    certs:
        driver: local
    esdata:
        driver: local
    kibdata:
        driver: local
