## The certificates will be created in the config/certs 
## Each instance will have its own certificate
instances:
    - name: kibana
      dns:
          - kibana
          - localhost
      ip:
          - 127.0.0.1

    - name: elasticsearch
      dns:
          - elasticsearch
          - localhost
      ip:
          - 127.0.0.1

    - name: logstash
      dns:
          - logstash
          - localhost
      ip:
          - 127.0.0.1
