version: "3.8"

volumes:
    elasticsearch-data:
        driver: local
    kibana-data:
        driver: local
    logstash-data:
        driver: local

networks:
    elk:
        driver: bridge

services:
    setup:
        depends_on:
            elasticsearch:
                condition: service_healthy
        image: curlimages/curl:8.13.0
        container_name: setup
        user: "0"
        networks:
            - elk
        env_file:
            - .env
        entrypoint: sh
        command: >
            -c "
            echo 'Setting password for ${KIBANA_USERNAME}';
            until curl -s -X POST -u ${ELASTIC_USERNAME}:${ELASTIC_PASSWORD} \
            -H 'Content-Type: application/json' \
            -d '{\"password\":\"${KIBANA_PASSWORD}\"}' \
            ${ELASTIC_HOST}/_security/user/${KIBANA_USERNAME}/_password; do
              echo 'Waiting for Elasticsearch...';
              sleep 5;
            done;
            echo 'Password set successfully.'"

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:${ELK_VERSION}
        container_name: elasticsearch
        restart: always
        networks:
            - elk
        volumes:
            - elasticsearch-data:/usr/share/elasticsearch/data
        env_file:
            - .env
        environment:
            - node.name=es01
            - cluster.name=${CLUSTER_NAME}
            - discovery.type=single-node
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - bootstrap.memory_lock=true
            - xpack.license.self_generated.type=${LICENSE_TYPE}
            - ES_JAVA_OPTS=-Xms1g -Xmx1g
            - xpack.security.enabled=true
            - xpack.security.http.ssl.enabled=false
            - xpack.security.transport.ssl.enabled=false
        mem_limit: 2g
        ulimits:
            memlock:
                soft: -1
                hard: -1
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -u ${ELASTIC_USERNAME}:${ELASTIC_PASSWORD} \
                    -X GET 'http://localhost:9200/_cluster/health?pretty' \
                    | grep -q '\"status\" : \"green\"'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120

    kibana:
        depends_on:
            elasticsearch:
                condition: service_healthy
        image: docker.elastic.co/kibana/kibana:${ELK_VERSION}
        container_name: kibana
        restart: always
        networks:
            - elk
        ## PORT TO BE REMOVED AND USED FROM NGINX
        ports:
            - ${KIBANA_PORT}:5601
        env_file:
            - .env
        volumes:
            - kibana-data:/usr/share/kibana/data
        environment:
            - SERVERNAME=kibana
            - ELASTICSEARCH_HOSTS=${ELASTIC_HOST}
            - ELASTICSEARCH_USERNAME=${KIBANA_USERNAME}
            - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
        mem_limit: 1g
        healthcheck:
            test: [
                    "CMD-SHELL",
                    "curl -u ${ELASTIC_USERNAME}:${ELASTIC_PASSWORD} \
                    -I http://localhost:5601/app/home \
                    | grep -q 'HTTP/2 200'",
                ]
            interval: 10s
            timeout: 10s
            retries: 120

    logstash:
        depends_on:
            elasticsearch:
                condition: service_healthy
        image: docker.elastic.co/logstash/logstash:${ELK_VERSION}
        container_name: logstash
        restart: always
        networks:
            - elk
        volumes:
            - logstash-data:/usr/share/logstash/data
            - ./logstash/conf/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
            - ../nginx/logs/access.log:/usr/share/logstash/data/access.log:ro
        env_file:
            - .env
        environment:
            - NODE_NAME=logstash
            - xpack.monitoring.enabled=false
            - ELASTIC_USERNAME=${ELASTIC_USERNAME}
            - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
            - ELASTIC_HOSTS=${ELASTIC_HOST}
        command: logstash -f /usr/share/logstash/pipeline/logstash.conf
        mem_limit: 1g
