@keyframes borderShrink {
	0% {
		transform: scaleX(1);
		transform-origin: left;
		border-color: #60a5fa;
	}
	100% {
		transform: scaleX(0);
		transform-origin: left;
		border-color: #3b82f6;
	}
}
#timeout-border {
	animation: borderShrink 10s linear forwards;
}
