@import "tailwindcss";
@tailwind utilities;

:root {
	--background: black;
	--foreground: #ffffff;
}

@theme {
	--breakpoint-extra: 2000px;
	--color-main: #5a5de9;
	--color-main-hover: #494bc2;
	--color-main-active: #3a3b9d;
	--color-main-ring-active: #7c7eff;
	--color-main-ring-hover: #686bff;
	--color-accent: #ff7f50;
	--color-fr-image: #edb0b0;
	--color-notwhite: #d9d9d9;
	--color-isOnline: #f2a900;
	--color-br-image: rgba(255, 255, 255, 0.32);
	--color-card: rgba(255, 255, 255, 0.04);
	--color-chat: rgba(255, 255, 255, 0.03);
	--color-br-card: rgba(255, 255, 255, 0.06);
	--color-bbg: rgba(255, 255, 255, 0.06);
	--color-bg: rgba(255, 255, 255, 0.08);
	--color-hbbg: rgba(255, 255, 255, 0.1);
	--color-hbg: rgba(255, 255, 255, 0.07);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* styles.css or in <style> tag */
.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.animate-font {
	transition: font-size 0.3s ease;
}

.custom-scroll::-webkit-scrollbar {
	width: 0.5rem;
}
.custom-scroll::-webkit-scrollbar-track {
	border-radius: 9999px;
	background: none;
}
.custom-scroll::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background: rgba(209, 213, 219, 0.3);
}
