@import "tailwindcss";
@tailwind utilities;

:root {
	--background: black;
	--foreground: #ffffff;
}

@theme {
	--breakpoint-extra: 2000px;
	--color-main: #5a5de9;
	--color-main-hover: #494bc2;
	--color-main-active: #3a3b9d;
	--color-main-ring-active: #7c7eff;
	--color-main-ring-hover: #686bff;
	--color-accent: #ff7f50;
	--color-fr-image: #edb0b0;
	--color-notwhite: #d9d9d9;
	--color-isOnline: #f2a900;
	--color-br-image: rgba(255, 255, 255, 0.32);
	--color-graph-bright-cyan: #00faff;
	--color-graph-vivid-yellow: #ffe600;
	--color-graph-fill: #78d369;
	--color-border-gray-thick: rgba(250, 233, 233, 0.28);
	--color-gray-thick: rgba(45, 45, 45, 0.65);
	--color-card: rgba(255, 255, 255, 0.04);
	--color-inner-card: rgba(255, 255, 255, 0.05);
	--color-chat: rgba(255, 255, 255, 0.03);
	--color-br-card: rgba(255, 255, 255, 0.06);
	--color-bbg: rgba(255, 255, 255, 0.06);
	--color-bg: rgba(255, 255, 255, 0.08);
	--color-hbbg: rgba(255, 255, 255, 0.1);
	--color-hbg: rgba(255, 255, 255, 0.07);
}

@layer utilities {
	.bg-theme-one {
		background: radial-gradient(circle, #006400, #36454f);
	}
	.bg-theme-two {
		/* background: radial-gradient(circle, #1616df, #161616); */
		background: radial-gradient(circle, #2c2c2c, black);
		/* background: black; */
	}

	.bg-theme-three {
		background: radial-gradient(circle, #1b9dc5, #04619e);
	}

	.bg-theme-four {
		background: radial-gradient(circle, #c30039, #303b4b);
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* styles.css or in <style> tag */
.hide-scrollbar {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.animate-font {
	transition: font-size 0.3s ease;
}

.custom-scroll::-webkit-scrollbar {
	width: 0.5rem;
}
.custom-scroll::-webkit-scrollbar-track {
	border-radius: 9999px;
	background: none;
}
.custom-scroll::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	background: rgba(209, 213, 219, 0.3);
}

.custom-range::-webkit-slider-thumb {
	appearance: none;
	width: 1rem;
	height: 1rem;
	background-color: #3b82f6;
	border-radius: 9999px;
}

.custom-range::-moz-range-thumb {
	appearance: none;
	width: 1rem;
	height: 1rem;
	background-color: #3b82f6;
	border-radius: 9999px;
}

.custom-range::-moz-range-track {
	background-color: #92929283;
	height: 2px;
	border-radius: 2px;
}

.loader {
	background:
		linear-gradient(
			45deg,
			transparent 49%,
			#fff 10%,
			#fff 10%,
			transparent 51%,
			transparent
		),
		linear-gradient(
			-45deg,
			transparent 49%,
			#fff 10%,
			#fff 10%,
			transparent 51%,
			transparent
		);
	background-size: 1em 1em;
	box-sizing: border-box;
	animation: barStripe 0.6s linear infinite;
}

@keyframes barStripe {
	0% {
		background-position: 1em 0;
	}
	100% {
		background-position: 0 0;
	}
}

.loadingText {
	span {
		animation: loading 1.6s infinite alternate;
		&:nth-child(1) {
			animation-delay: 0s;
		}
		&:nth-child(2) {
			animation-delay: 0.1s;
		}
		&:nth-child(3) {
			animation-delay: 0.2s;
		}
		&:nth-child(4) {
			animation-delay: 0.3s;
		}
		&:nth-child(5) {
			animation-delay: 0.4s;
		}
		&:nth-child(6) {
			animation-delay: 0.5s;
		}
		&:nth-child(7) {
			animation-delay: 0.6s;
		}
		&:nth-child(8) {
			animation-delay: 0.7s;
		}
		&:nth-child(9) {
			animation-delay: 0.8s;
		}
		&:nth-child(10) {
			animation-delay: 0.9s;
		}
		&:nth-child(11) {
			animation-delay: 1s;
		}
		&:nth-child(12) {
			animation-delay: 1.1s;
		}
		&:nth-child(13) {
			animation-delay: 1.2s;
		}
		&:nth-child(14) {
			animation-delay: 1.3s;
		}
		&:nth-child(15) {
			animation-delay: 1.4s;
		}
		&:nth-child(16) {
			animation-delay: 1.5s;
		}
		&:nth-child(17) {
			animation-delay: 1.6s;
		}
	}
}

@keyframes loading {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
